//COLOR
$color-blue-primary: #3dd0d8;
$color-purple: #7c69e3;
$color-dark-rgba: rgb(24 23 40 / 80%);
$color-white: #fff;
$color-black: #000;
$color-dark-1: #292845;
$color-blue-2: #5c9ddd;

$color-text: #c2d4f8;
$color-body: #181728;
$color-dark-2: #1e1d32;

$color-text-gray: #c2d4f8;
